defaults
auth           on
tls            on
tls_trust_file {{ tls_trust_file | default('/etc/ssl/certs/ca-certificates.crt') }}
logfile        /var/log/msmtp.log

account        main
host           {{ msmtp_host }}
port           {{ msmtp_port }}
{% if msmtp_from is defined %}
from           {{ msmtp_from }}
{% endif %}
user           {{ msmtp_user }}
password       {{ msmtp_password }}

account default : main
